.container {
    border: solid 1px #333;
    border-radius: 10px;
    width: 40%;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 .5em;
    margin-bottom: .5em;
    cursor: grab;
}