.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 40%;
    margin-right: 2em;
    border: 1px solid #333;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.title {
    font-size: 30px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #888;
    margin-bottom: .2em;
}